.header
{
    display:flex;
    background: #1F2937;
    color: white;
    justify-content: space-between;
    align-items:center;
    padding-left: 100px;
}
.header_links
{
    color: white;
    gap: 1em;
}